body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url("Images/Folio/website%20folio%20photos/_MG_0020.jpg");
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image in the header */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1,
header h2 {
    color: #fff; /* Explicitly sets the font color of h1 and h2 elements to white */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    margin: 10px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    position: relative;
    margin: 10px;
    width: calc(33.333% - 20px);
    overflow: hidden; /* Ensure the content stays within the bounds */
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, filter 0.3s;
}

.gallery a {
    position: relative;
    display: block;
    text-decoration: none;
}

.gallery a:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}

.gallery-item:hover .title {
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
